{% extends "layout.html" %}
{% from "macros.html" import render_field %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">

        <div class="card shadow">
            <div class="card-header cinepolis-header text-white">
                <h4 class="mb-0 text-center">Registro de Usuario</h4>
            </div>

            <div class="card-body">
                <form method="POST">
                    {{ form.csrf_token }}

                    {{ render_field(form.matricula) }}
                    {{ render_field(form.nombre) }}
                    {{ render_field(form.apaterno) }}
                    {{ render_field(form.amaterno) }}
                    {{ render_field(form.correo) }}

                    <button class="btn btn-warning w-100 mt-2">
                        Registrar
                    </button>
                </form>
            </div>
        </div>

        {% if mensaje %}
        <div class="alert alert-success mt-3 text-center">
            {{ mensaje }}
        </div>
        {% endif %}

    </div>
</div>
{% endblock %}
